body {
    font-family: 'Menlo', monospace;
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: #ffffff;
}

main {
    margin: 15px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 0px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0);
}

.frame {
    margin: 40px auto;
    padding: 30px;
    background-color: #ffffff;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    max-width: 800px;
}

a i, a img {
  color: #000000;               /* also consider #1d3557 or #457b9d */
  transition: color 0.3s, transform 0.3s;
}
a:hover i {
  color: #fce96a; /* sunny yellow on hover */
  transform: scale(1.1);
}

a {
  color: #000000;              /* also consider #457b9d or #1d3557 */
  text-decoration: underline;
  font-weight: bold;
  transition: color 0.3s;
}

a:hover {
  color: #fce96a;
}

ul.no-bullets {
  list-style-type: none; /* remove default bullets */
  padding: 0;
  font-size: 16px;
}

ul.no-bullets li {
  margin-bottom: 16px;   
  padding-left: 30px;     /* space for emoji */
  position: relative;      /* reference point for pseudo-element */
}

li.paper::before {
  content: "📚";         /* book emoji */
  position: absolute;
  left: 0;
}

li.talk::before {
  content: "🎤";         /* microphone emoji */
  position: absolute;
  left: 0;
}

li.award::before {
  content: "🏆";         /* trophy emoji */
  position: absolute;
  left: 0;
}

li.conference::before {
  content: "✈️";         /* airplane emoji */
  position: absolute;
  left: 0;
}

li.graduation::before {
  content: "🎓";         /* graduation cap emoji */
  position: absolute;
  left: 0;
}

li.job::before {
  content: "💼";         /* briefcase emoji */
  position: absolute;
  left: 0;
}

li.teaching::before {
  content: "👨‍🏫";         /* teacher emoji */
  position: absolute;
  left: 0;
}

li.hiring::before {
  content: "🤝";         /* handshake emoji */
  position: absolute;
  left: 0;
}
